h2{
    color: aqua
}
table, th, tr{
    border: 2px solid black;
    border-collapse: collapse;
}
th, tr{
    background-color: #96D4D4;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 30%;
    padding-left: 10px;
    padding-top: 10px;
    transition: 2s;
    padding-bottom: 30px;
}